@font-face {
  font-family: "Muller";
  font-style: normal;
  font-weight: 500;
  src:  local(''),
        url("/hotel_repo/fonts/MullerLight.woff") format("woff"),
        url("/hotel_repo/fonts/MullerLight.woff2") format("woff2");
}

@font-face {
  font-family: "Muller";
  font-style: normal;
  font-weight: 400;
  src:  local(''),
        url("/hotel_repo/fonts/MullerRegular.woff") format("woff"),
        url("/hotel_repo/fonts/MullerRegular.woff2") format("woff2");
}

@font-face {
  font-family: "Muller";
  font-style: normal;
  font-weight: 600;
  src:  local(''),
        url("/hotel_repo/fonts/MullerMedium.woff") format("woff"),
        url("/hotel_repo/fonts/MullerMedium.woff2") format("woff2");
}

@font-face {
  font-family: "Muller";
  font-style: normal;
  font-weight: 700;
  src:  local(''),
        url("/hotel_repo/fonts/MullerBold.woff") format("woff"),
        url("/hotel_repo/fonts/MullerBold.woff2") format("woff2");
}

/* Общие стили */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #F1F1F1;
}

a {
  color: #CC9933;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: #f66d52;
}

/* a:visited {
  color: #8a2be2; /* Цвет посещённой ссылки */
/* }  */ 

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

/* Стилизация касаемо макета */

html {
  font-family: sans-serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  /* display: inline-block;
  padding: 15px 16px;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  color: white;
  background-color: #3172b9;
  border-radius: 4px; */
  transition-property: background-color, color;
  transition-duration: .3s;
  transition-timing-function: ease;
  cursor: pointer;
}

.btn:hover {
  background-color: #CC9933;
  color: #666666;
  transform: translateY(1px);
}

/* .header-login-link,
.section-special-leftcard-link,
.section-services-link,
.section-placing-all-header,
.section-contacts-link,
.footer-link-info,
.footer-link {
	color: #CC9933; /* Цвет обычной ссылки */
  /* position: relative;
  cursor: pointer;
  text-decoration: none; /* Убираем подчеркивание */
/* } */

/* .header-login-link,
.section-special-leftcard-link,
.section-services-link,
.section-placing-all-header,
.section-contacts-link,
.footer-link-info,
.footer-link:after {
	content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px; /* Высота линии */
  /* background-color: black; Цвет подчеркивания при исчезании линии */
  /* transition: width 0.5s; Время эффекта */
/* }  */

/* Header */

.header {
  height: 154px;
  margin-top: 30px;
  margin-bottom: 70px;
}

.header-container {
  display: block;
  height: 100%;
  }

.header-up {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-up-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 261px;
  height: 54px;
  margin-right: 40px;
}

.header-info {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
}

.header-link {
  color: #666666;
}

/* .header-up-right {
  margin-left: auto;
} */

.header-login {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

.header-login-link {
  padding-left: 29px;
  background-image: url("../img/go.svg");
  background-position: left center;
  background-size: 21px 12px;
  background-repeat: no-repeat;
  color: #CC9933;
}

.header-login-link:hover {
  color: #f66d52;
  background-image: url("../img/go_red.svg");
  background-position: left center;
  background-size: 21px 12px;
  background-repeat: no-repeat;
  text-decoration: none;
}

.header-down {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 15px;
}

.header-down-left {
  padding: 17px 56px 17px 45px;
  border-right: 1px solid #E1E1E1;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-item {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

.nav-link {
  color: #666666;
}

.nav-link,
.nav-link:after,
.nav-link:before {
  transition: all .5s;
}

.nav-link {
  position: relative;
  z-index: 1;
}

.nav-link:hover {
  color:#666666;
  text-decoration: none;
}

.nav-link:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #CC9933;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}
.nav-link:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.nav-item:not(:last-child) {
  margin-right: 45px;
}

.header-down-right {
  margin-left: 57px;
  display: flex;
  justify-content: start;
}

.nav-link-next {
  margin-right: 40px;
  padding: 13px 20px;
  border: 1px solid #CC9933;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 10px;
  color: #CC9933;
}

/* Special */

.section-special {
  padding-bottom: 70px;
}

.section-special-heading {
  margin-left: 40px;
  margin-bottom: 20px;
  margin-top: 0;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #333333;
}

.section-special-list {
  display: flex;
}

.section-special-item {
  width: 573px;
  height: 258px;
  margin-right: 23px;
  border-radius: 15px;
  }

.card-up {
  background: url('../img/card1.png') 100% 100% no-repeat;
  background-size: cover;
}

.card-down {
  background: url('../img/card2.png') 100% 100% no-repeat;
  background-size: cover;
}

.section-special-leftcard-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 40px 234px 40px 40px;
}

.section-special-leftcard-header {
  margin-top: 0;
  margin-bottom: 15px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #FFFFFF;
}

.section-special-leftcard-price {
  margin-top: 0;
  margin-bottom: 47px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.8;
}

.section-special-leftcard-link {
  margin: 0;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  padding-right: 15px;
  background-image: url("../img/yellowarrow.svg");
  background-position: right center;
  background-size: 11px 18px;
  background-repeat: no-repeat;
  color: #FFCC66;
}

.section-special-leftcard-link:hover {
  color: #f66d52;
  background-image: url("../img/yellowarrow_red.svg");
  background-position: right center;
  background-size: 11px 18px;
  background-repeat: no-repeat;
  text-decoration: none;
}

.section-special-item:not(:last-child) {
  margin-bottom: 23px;
}

.section-special-list-left {
  display: flex;
  flex-direction: column;
}

.section-special-list-right {
  display: flex;
  flex-direction: row;
  width: 573px;
}

.right-card {
  margin-right: 0;
  height: 539px;
  background: url('../img/card3.png') 100% 100% no-repeat;
  background-size: cover;
}

.section-special-rightcard-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 211px 234px 41px 40px;
}

.section-special-rightcard-header {
  margin-top: 0;
  margin-bottom: 15px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  color: #FFFFFF;
}

.section-special-rightcard-price {
  margin-top: 0;
  margin-bottom: 47px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #FFFFFF;
  opacity: 0.8;
}

/* Abot Us */

.section-aboutus {
  padding-bottom: 70px;
}

.section-aboutus-container {
  max-width: 888px;
}

.section-aboutus-header {
  margin-left: 40px;
  margin-bottom: 11px;
  margin-top: 0;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #333333;
}

.section-aboutus-content {
  margin: 0;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
}

/* Services */

.section-services {
  padding-bottom: 70px;
}

.section-services-header {
  margin-left: 40px;
  margin-bottom: 20px;
  margin-top: 0;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #333333;
}

.section-services-list {
  display: flex;
  flex-wrap: wrap;
}

.section-services-item {
  width: 573px;
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
  /* padding-left: 45px; */
  margin-bottom: 23px;
}

.part1 {
  background: url(../img/upimg1.png) top center no-repeat, #FFFFFF;
  background-blend-mode: normal;
  border-radius: 15px;
}

.part2 {
  background: url(../img/upimg2.png) top center no-repeat, #FFFFFF;
  background-blend-mode: normal;
  border-radius: 15px;
}

.part3 {
  background: url(../img/upimg3.png) top center no-repeat, #FFFFFF;
  background-blend-mode: normal;
  border-radius: 15px;
}

.part4 {
  background: url(../img/upimg4.png) top center no-repeat, #FFFFFF;
  background-blend-mode: normal;
  border-radius: 15px;
}

.section-services-item:not(:nth-child(2n)) {
  margin-right: 23px;
}

.section-services-item:nth-child(3) {
  margin-bottom: 0;
}

.section-services-item:nth-child(4) {
  margin-bottom: 0;
}

.section-services-info {
  /* margin-top: 26px; */
  margin: 26px 126px 50px 45px;
  max-width: 400px;
  height: 89px;
}

.section-services-link {
  /* margin-top: 26px; */
  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  padding-right: 15px;
  background-image: url("../img/yellowarrow.svg");
  background-position: right center;
  background-size: 11px 18px;
  background-repeat: no-repeat;
  color: #FFCC66;
}

.section-services-link:hover {
  color: #f66d52;
  background-image: url("../img/yellowarrow_red.svg");
  background-position: right center;
  background-size: 11px 18px;
  background-repeat: no-repeat;
  text-decoration: none;
}

.section-services-description {
  /* margin-bottom: 50px; */
  margin-top: 0;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
}

/* Advantages */

.section-advantages {
  padding-bottom: 47px;
}

.section-advantages__header {
  margin-bottom: 30px;
  margin-left: 40px;
  margin-top: 0;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #333333;
}

.section-advantages__list {
  display: flex;
  flex-wrap: wrap;
}

.section-advantages__item {
  width: 275px;
  height: 275px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 116px 42px 41px 45px;
  margin-bottom: 23px;
  transition-property: background-color, color;
  transition-duration: .3s;
  transition-timing-function: ease;
} 

.section-advantages__item:hover {
  background-color: #CC9933;
  cursor: pointer;
}

.section-advantages__item:hover .section-advantages__description {
  color: #666666;
}

.advantage1 {
   background: url(../img/bathtub.svg) no-repeat, #FFFFFF;
}

.adv2 {
  background: url(../img/hanger.svg) no-repeat, #FFFFFF;
}

.adv3 {
  background: url(../img/heating.svg) no-repeat, #FFFFFF;
}

.adv4 {
  background: url(../img/hotel-key.svg) no-repeat, #FFFFFF;
}

.adv5 {
  background: url(../img/parking.svg) no-repeat, #FFFFFF;
}

.adv6 {
  background: url(../img/reception.svg) no-repeat, #FFFFFF;
}

.adv7 {
  background: url(../img/security-box.svg) no-repeat, #FFFFFF;
}

.adv8 {
  background: url(../img/swimming-pool.svg) no-repeat, #FFFFFF;
}

.advantage1,
.adv2,
.adv3,
.adv4,
.adv5,
.adv6,
.adv7,
.adv8 {
  background-blend-mode: normal;
  background-position: top 40px left 40px;
  border-radius: 15px;
}

.section-advantages__item:not(:nth-child(4n)) {
  margin-right: 23px;
}

.section-advantages__description {
  margin: 0;
  /* margin: 116px 42px 41px 45px; */
  height: 118px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
  transition: color .3s ease;
}

/* Placing */

.section-placing {
  padding-bottom: 70px;
}

.section-placing-header {
  margin-bottom: 30px;
  margin-top: 0;
  margin-left: 40px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #333333;
}

.section-placing-list {
  display: flex;
  flex-wrap: wrap;
}

.section-placing-item {
  width: 374px;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 253px 46px 41px 45px;
  margin-bottom: 23px;
}

.plc1 {
  background: url(../img/hot1.png) no-repeat, #FFFFFF;
  background-blend-mode: normal;
  background-position: top center;
  border-radius: 15px;
}

.plc2 {
  background: url(../img/hot2.png) no-repeat, #FFFFFF;
  background-blend-mode: normal;
  background-position: top center;
  border-radius: 15px;
}

.plc3 {
  background: url(../img/hot3.png) no-repeat, #FFFFFF;
  background-blend-mode: normal;
  background-position: top center;
  border-radius: 15px;
}

.plc4 {
  background: url(../img/hot4.png) no-repeat, #FFFFFF;
  background-blend-mode: normal;
  background-position: top center;
  border-radius: 15px;
}

.plc5 {
  background: url(../img/hot5.png) no-repeat, #FFFFFF;
  background-blend-mode: normal;
  background-position: top center;
  border-radius: 15px;
}

.plc6 {
  background: url(../img/hot6.png) no-repeat, #FFFFFF;
  background-blend-mode: normal;
  background-position: top center;
  border-radius: 15px;
}

.plc7 {
  background: url(../img/hot7.png) no-repeat, #FFFFFF;
  background-blend-mode: normal;
  background-position: top center;
  border-radius: 15px;
}

.plc8 {
  background: url(../img/hot8.png) no-repeat, #FFFFFF;
  background-blend-mode: normal;
  background-position: top center;
  border-radius: 15px;
}

.section-placing-item:not(:nth-child(3n)) {
  margin-right: 23px;
}

.section-placing-item:nth-child(7) {
  margin-bottom: 0;
}

.section-placing-item:nth-child(8) {
  margin-bottom: 0;
}

.section-placing-item:nth-child(9) {
  margin-bottom: 0;
}

.section-placing-info {
  height: 84px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.section-placing-price {
  margin: 0;
  margin-bottom: 16px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.section-placing-name {
  margin: 0;
  margin-bottom: 16px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}

.section-placing-country {
  margin: 0;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #999999;
}

.section-placing-numbers {
  margin-top: 20px;
  padding: 13px 20px;
  max-width: 100px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  border: 1px solid #CC9933;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 10px;
  color: #CC9933;
}

.plc9 {
  padding: 0;
  background: url(../img/all.png) no-repeat, #FFFFFF;
  background-blend-mode: normal;
  background-position: center center;
  border-radius: 15px;
}

.section-placing-all {
  /* margin-bottom: 27px; */
  position: relative;
  height: 100%;
  width: 100%;
  /* display: flex;
  justify-content: center;
  align-items: flex-end;  */
  z-index: 1;
}

.section-placing-all-header {
  /* display: block; */
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  /* justify-content: center; */
  padding-left: 60px;
  align-items: flex-end; 
  padding-bottom: 27px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #FFFFFF;
  padding-right: 15px;
  background-image: url(../img/white.svg);
  background-position: 310px 384px;
  background-size: 11px 18px;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.section-placing-all-header:hover {
  color: #f66d52;
  background-image: url("../img/white_red.svg");
  background-position: 310px 384px;
  background-size: 10px 18px;
  background-repeat: no-repeat;
  text-decoration: none;
}

/* Form */

.section-form {
  padding-top: 70px;
  padding-bottom: 70px;
}

.form-container {
  background: #E9E9E9;
  border-radius: 15px;
}

.section-form-title {
  margin-top: 0;
  margin-bottom: 19px;
  margin-left: 40px;
  padding-top: 38px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
}

.form-title {
  text-align: left;
}

.form {
  padding: 28px 45px 71px 45px;
  margin: 0;
}

.section-form-list {
  margin: 0;
  padding: 31px 28px 32px 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background-color: #FFFFFF;
  border-radius: 15px;
}

.section-form-header {
  margin-bottom: 15px;
  margin-top: 0;
  padding-left: 4px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #000000;
}

.section-form-container-city,
.section-form-container-country {
  width: 170px;
  height: 43px;
  padding-right: 20px;
}


.section-form-container-date,
.section-form-container-nights,
.section-form-container-tourists {
  width: 142px;
  height: 43px;
}

.section-form-select-item {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  border: none;
  padding-inline-start: 0;
}

.section-form-country-header {
  margin-bottom: 15px;
  padding-left: 5px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #000000;
}

.others {
  padding: 0;
}

.section-form-date {
  border: none;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}

.section-form-tourists-number,
.section-form-nights-number {
  padding: 0;
  width: 121px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  border: none;
  border-bottom: 1px solid #CCCCCC;
}

.btn-submit {
  padding: 13px 30px;
  border: 1px solid #CC9933;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 10px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #CC9933;
}

.select-align {
  width: 100%;
  padding: 0;
}

.section-form-container-city,
.section-form-container-country,
.section-form-container-date,
.section-form-container-nights,
.section-form-container-tourists {
  border-right: 1px solid #E1E1E1;
}

/* Contacts */

.section-contacts {
  padding-top: 70px;
}

.section-contacts-header {
  margin-top: 0;
  margin-bottom: 26px;
  margin-left: 40px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #333333;
}

.section-contacts-container-inner {
  padding: 44px 44px 46px 46px;
  background: #FFFFFF;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.section-contacts-list {
  height: 528px;
  width: 375px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.section-contacts-item {
  flex: 1 1 auto;
  width: 100%;
  display: flex;
}

.section-contacts-item:not(:first-child) {
  margin-top: 25px;
}

.section-contacts-item:not(:last-child) {
  border-bottom: 1px solid #C4C4C4;
}

.section-contacts-heading {
  min-width: 137px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.section-contacts-info {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}

.section-contacts-link {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #CC9933;
}

.section-contacts-link-info {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #999999;
}

.section-contacts-button {
  width: 211px;
  height: 68px;
  padding: 25px 29px;
  border: 1px solid #CC9933;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 10px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #CC9933;
}

.but {
  align-items: flex-end;
}

.section-contacts-img {
  min-width: 653px;
}

/* Footer */

.footer {
  height: 341px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.footer-container {
  height: 100%;
  width: 100%;
  background: url('../img/footer-background.png') 100% 100% no-repeat;
  border-radius: 15px;
}

.footer-list {
  padding: 51px;
  height: 100%;
  display: flex;
  /* justify-content: space-between; */
  align-items: flex-start;
}

.footer-item {
  height: 100%;
  flex: 1 1 33.33%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-info {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
  color: #FFFFFF;
}

.footer-link {
  margin-top: 14px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #CC9933;
}

.numb {
  margin-left: 80px;
  justify-content: flex-start;
}

.footer-link-info {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #CC9933;
}

.icons {
  align-items: flex-end;
  justify-content: flex-start;
}

.footer-social-icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  background-position: center center;
}

.footer-social-icon-trip {
  width: 25px;
  height: 25px;
  background-image: url('../img/trip.svg');
}

.footer-social-icon-trip:hover {
  width: 25px;
  height: 25px;
  background-image: url('../img/trip\ copy.svg');
}

.footer-social-icon-twitter {
  width: 25px;
  height: 25px;
  background-image: url('../img/twitter.svg');
}

.footer-social-icon-twitter:hover {
  width: 25px;
  height: 25px;
  background-image: url('../img/twitter\ copy.svg');
}

.footer-social-icon-facebook {
  width: 25px;
  height: 25px;
  background-image: url('../img/facebook.svg');
}

.footer-social-icon-facebook:hover {
  width: 25px;
  height: 25px;
  background-image: url('../img/facebook\ copy.svg');
}

.footer-social-icon-social {
  width: 25px;
  height: 25px;
  background-image: url('../img/social.svg');
}

.footer-social-icon-social:hover {
  width: 25px;
  height: 25px;
  background-image: url('../img/social\ copy.svg');
}

.footer-social-icon-instagram {
  width: 25px;
  height: 25px;
  background-image: url('../img/instagram.svg');
}

.footer-social-icon-instagram:hover {
  width: 25px;
  height: 25px;
  background-image: url('../img/instagram\ copy.svg');
}

.footer-link-icon:not(:first-child) {
  margin-top: 20px;
}